/* ---- START CSS Reset ---- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---- END CSS Reset ---- */


/* ---- VARIABLES ---- */
:root {
    --light-text-color: #f1eeee;
    --dark-text-color: #181a1e;
    --background-color: #f1eeee;
    --accent-color: #8d1010;
    /* --accent-color: #c21c1c; */
    --secondary-color: #c58542;
}

/* ---- BODY ---- */
body {
    width: 1280px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark-text-color);
    display: grid;
    grid-template-rows: 200px 1fr 130px;
    justify-items: center;
    line-height: 1.5;
    padding: 12px;
    background-image: url("images/white_wall2.png");
}

/* ---- HEADER (Home and Contact) ---- */
header {
    grid-row: 1 / 2;
    width: 100%;
}

h1 {
    font-size: 3.8rem;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 a {
    text-decoration-style: dotted;
    text-decoration-color: var(--accent-color);
    color: var(--dark-text-color);
}

nav {
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
}

li {
    display: inline-block;
}

nav a {
    display: block;
    font-size: 1.3rem;
    width: 120px;
    text-align: center;
    text-decoration: none;
    margin: 0 50px;
    padding: 5px;
    color: var(--dark-text-color);
}

nav a {
    border-top: 3px solid #222;
    border-bottom: 3px solid #222;
}

.home-nav:hover {
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

.menu-nav:hover {
    border-top: 3px solid var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    box-shadow: none;
}

.order-nav:hover {
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    box-shadow: none;
}

.contact-nav:hover {
    border-top: 3px solid rgb(2, 2, 195);
    border-bottom: 3px solid rgb(2, 2, 195);
    box-shadow: none;
}

nav a:active {
    transform: scale(0.95);
}

/* ---- MAIN (Home)---- */
main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto auto 700px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.header-img {
    grid-area: 1 / 1 / 2 / 5;
    width: 1280px;
    height: auto;
}

.intro {
    grid-area: 2 / 1 / 3 / 5;
    width: 100%;
    padding: 25px 0;
    background-color: var(--background-color);
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

.our-menu {
    width: 100px;
    font-size: 1.15rem;
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid var(--secondary-color);
    color: var(--dark-text-color);
}

.our-menu:hover {
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
}

.our-menu:active {
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
    transform: scale(0.95);
}

.cater {
    grid-area: 3 / 1 / 4 / 5;
    margin: 60px 0;
}

h3 {
    font-size: 1.7rem;
    text-align: center;
    font-weight: 500;
    color: var(--dark-text-color);
}

p {
    font-size: 1.17rem;
    line-height: 1.5;
    max-width: 42ch;
}

.grid {
    width: 80%;
    height: 91%;
    background-color: var(--dark-text-color);
    padding: 10px;
    box-shadow: 11px 12px 22px 0px rgba(0,0,0,0.84);
    -webkit-box-shadow: 11px 12px 22px 0px rgba(0,0,0,0.84);
    -moz-box-shadow: 11px 12px 22px 0px rgba(0,0,0,0.84);
}

.grid p, .grid h3 {
    color: var(--light-text-color);
}

.grid h3 {
    border-bottom: 2px dotted var(--secondary-color);
    width: 50%;
    margin: 0 auto;
}

.grid p {
    max-width: 42ch;
    margin: 0 auto;
}

.grid img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.local {
    grid-area: 4 / 1 / 5 / 3;
}

.chef {
    grid-area: 4 / 3 / 5 / 5;
}


/* ---- MAIN (Contact) ---- */
.contact-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr;
}

.contact-img {
    grid-area: 1 / 2 / 3 / 3;
    margin: 10px;
}

.contact-h2, .contact-p {
    grid-area: 1 / 1 / 3 / 2;
    max-width: 35ch;
}

.contact-h2 {
    margin-bottom: 200px;
}

.contact-p {
    padding: 15px;
}

form {
    grid-area: 3 / 1 / 5 / 3;
    width: 1100px;
    height: 560px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px auto;
    background-color: var(--background-color);
    padding: 16px;
    border: 2px dotted var(--dark-text-color);
    border-radius: 4px;
}

input, label, select, textarea, fieldset {
    display: block;
    width: 400px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label {
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 30px;
    border: 1px solid var(--dark-text-color);
    border-radius: 2px;
}

fieldset {
    border: 1px groove var(--dark-text-color);
    margin-bottom: 30px;
    border-radius: 2px;
}

legend {
    font-weight: bold;
    margin-left: 8px;
}

fieldset label {
    margin-left: 30px;
    margin: 10px 0 10px 30px;
    cursor: pointer;
}

fieldset input {
    width: 16px;
    height: 16px;
    font-weight: bold;
    margin: -30px 10px 10px 8px;
    cursor: pointer;
}

input[type=submit] {
	background-color: var(--secondary-color);
	border: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
	box-shadow: 6px 6px 10px var(--dark-text-color);
    border-radius: 4px;
    width: 200px;
    margin-top: 80px;
}

input[type=submit]:hover {
    box-shadow: 3px 3px 5px #363432;
    cursor: pointer;
}

input[type=submit]:active {
    box-shadow: 1px 1px 2.5px #363432;
    background-color: var(--secondary-color);
}

input:invalid, select:invalid, textarea:invalid {
    border: 2px solid var(--accent-color);
}

input:focus, select:focus, textarea:focus {
    outline: 2px solid var(--secondary-color);
    background-color: var(--light-text-color);
}


/* ---- FOOTER (Home and Contact)---- */
footer {
    grid-row: 3 / 4;
    width: 100%;
    padding: 25px 0;
    background-color: var(--background-color);
}

footer p {
    margin: 0 auto;
    text-align: center;
}